@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 115 179;
    --clr-orange: 25deg 97% 53%;
    --clr-white: 0deg 0% 100%;
    --clr-grey-light: 217deg 12% 63%;
    --clr-grey-medium: 216deg 12% 54%;
    --clr-blue-dark: 213deg 19% 18%;
    --clr-blue-very-dark: 216deg 12% 8%;
  }

  html {
    font-family: 'Overpass', system-ui, sans-serif;
  }
}

