@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-white: #FFFFFF;
    --clr-orange: #FC7613;
    --clr-gray-900: #141519;
    --clr-gray-800: #171E28;
    --clr-gray-700: #202731;
    --clr-gray-600: #262F38;
    --clr-gray-500: #9BA2AC;
  }

  html {
    font-family: 'Overpass', system-ui, sans-serif;
    box-sizing: border-box;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
  }
}

@layer utilities {
  .d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.rating__radio-button span {
  cursor: pointer;
  display: inline-flex;
  width: 2.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background: var(--clr-gray-600);
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .rating__radio-button span {
    width: 3.125rem;
  }
}

.rating__radio-button:hover span {
  background: var(--clr-gray-500);
  color: var(--clr-white);
}

.rating__radio-button input:checked + span {
  background: var(--clr-orange);
  color: var(--clr-white);
}

/* mt-2.5 mb-2.5 text-white text-2xl font-bold transition-all | md:text-[1.75rem] md:mt-7 */
.rating__title {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  color: var(--clr-white);
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .rating__title {
    font-size: 1.75rem;
  }
}